body {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

/* HEADER */

header {
  height: 40px;
  text-align: right;
}

.social-link {
  padding: 4px;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 0.9em;
}

a.social-link:hover {
  color: #555;
}


/* MAIN CONTENT */

main {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 10em;
  letter-spacing: 0.2em;
  font-family: 'Bahianita', sans-serif;
}

p {
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Sen', sans-serif;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1em;
  }
}