<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Great Between</title>
    <meta
      name="description"
      content="Homepage of Great Between creative project."
    />
    <meta name="author" content="Alexandra Polubiec" />

    <meta property="og:title" content="Great Between" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Follow the stories that take place in the Great Between."
    />

    <script
      src="https://kit.fontawesome.com/11bf0af230.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bahianita&family=Sen&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>

  <body>
    <header>
      <a id="instagram-link" href="https://www.instagram.com/greatbetween/">
        follow on Instagram <i class="fab fa-instagram fa-lg"></i>
      </a>
    </header>
    <main>{{ content }}</main>
  </body>
</html>
